.heading
{
  font-size: 25px;
  width: 100%;
  margin: 0px;
  font-family: 'Dancing Script', cursive;
}
.note
{
  font-size: 25px;
  color: black;
  font-family: 'Dancing Script', cursive;
}
body
{
  background-size: cover;	
}
  #song
  {
  	font-size: 23px;
  	margin: 15px;
  }
    canvas 
  {
    border:5px solid white;
    border-radius:20px;
    box-shadow: 5px 5px 5px #73cfd8;
  }